.media-coverage-list{
  padding: 5%;
  border-bottom: 1px solid $gray;
}

.release-date--list{
    text-transform: uppercase;
  font-family: Arial;
  font-size: 0.8em;
  span{
    color:$gray;
  }
}

.list__headline{
  color: $blue-base;
  font-weight: normal;
  line-height: 39px;
  font-size: 2em;
  opacity: 0.9;
}

.list__excerpt{
  text-align:justify;
  word-break: break-word;
}