.mc-featured{
  max-width:70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 75px;
  padding-bottom: 30px;
}
.mc-featured__breadcrumb{
  @extend .text-center;
  color:$brand-secondary;
  text-transform:uppercase;
  letter-spacing: 0.2em;
  margin-bottom:0;
    font-size: 0.9em;
}

.mc-featured__image
{
  display: block;
}

.mc-featured__headline
{
  @extend .text-center;
  text-align:justify;
  color: $blue-base;
  font-weight: normal;
  margin-top: -10px;
    line-height: 39px;
  font-size: 2em;
  opacity: 0.5;
}

.mc-featured__excerpt
{
  text-align:justify;
  word-break: break-word;
}

.mc-stories{
  background-color: $brand-primary;
  opacity: 0.8;
  padding: 8%;
  padding-left: 4em;
  padding-right: 4em;
  position:relative;
}

.mc-stories__headline{
  font-weight: normal;
  font-size: 0.9em;
}

.mc-cta-wrapper{
  margin-top: 57px;
}

.mc-stories:after {
  content: "\f1d8";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 220px;
  color: #3C91CA;
  z-index: -1;
  bottom:-52px;
  left:0px;
  opacity:0.7;
  }