<section class="assignment-examples inverted-white" name="people" id="people" style="margin-top:30px;">
  <div class="container-fluid assignment-examples__background">

    <div class="container">
      <div class="row" style="margin-top:40px;margin-bottom:40px; font-size:16px; letter-spacing: 1.2px;">
        <div class="col-md-6">

<h1 class="lede__headline--caps inverted-white text-center">
        <span class="fa fa-users fa-5x"></span> <br/>Who we are
      </h1>
            <p>Editorial at Aranca is a perfect blend of knowledge and skill, with highly trained professionals with 2–6 years of relevant and cross-industry experience. The senior team comprises people with over 10 years of relevant experience in domains such as print media, e-learning, linguistics, economics, finance and intellectual property rights. Having worked with clients across geographies, the team is equipped to cater to a diverse range of preferences and provide highly customized editing solutions. Editorial’s primary focus is to ensure flawless language quality through two thorough rounds of editing for grammar, punctuation, spelling, typographical errors, consistency, logic, flow, structure and style. In addition, the selection process is rigorous, and editors are constantly kept up to date with industry standards through internal trainings. Monthly tests and reviews are also conducted to iron out any inconsistencies at the team level.</p>

        </div>
        <div class="col-md-6">
<h1 class="lede__headline--caps inverted-white text-center">
        <span class="fa fa-briefcase fa-5x"></span> <br/>Work Culture
      </h1>
            <p>While we realize that happiness is hard to quantify, the happiness index at Aranca Editorial soars pretty high. This could be attributed to the enviable work-life balance that the team enjoys. A diverse bunch (linguists, journalists, engineers, etc.) with even more varied interests, what binds us together is our love for the English language and the relentless pursuit of excellence. The fact that we get to live out both at Aranca makes us very happy. </p>
<p>Editors take great pride in their work, and no good work goes unrewarded at Aranca Editorial. We understand the virtuous circle of appreciation: employees getting recognition for their achievements will, more often than not, churn out quality work, winning them more accolades. This meritocratic environment does much to foster individual and company growth. </p>
<p>At Aranca Editorial, talent, skill, and creativity find themselves right at home and are given the right direction. A huge emphasis is placed on learning. Extraordinary results are achieved through a combination of structured dissemination of information and skill development.</p>


        </div>
      </div>
    </div>
  </div>
</section>
