<div class="container-fluid contact inverted-white" name="contact" id="contact" style="margin-top:-50px;">

  <div class="container">
    <div class="row">

      <div class="col-sm-12">


<!-- America Europe and Africa -->
        <div class="col-sm-3">
          <p class="contact__headline"><strong>Americas</strong></p>
          New York： +1 212 878 8826<br>
          Silicon Valley: +1 650 666 3011<br> <br/>

          <p class="contact__headline"><strong>Europe and Africa</strong></p>
          London： +44 207 487 8214<br><br/>

        </div>

<div class="col-sm-1"> </div>
        <!-- india -->
        <div class="col-sm-3">

        <p class="contact__headline"><strong>China</strong></p>
          Shanghai: +86 (0) 21 6157 7555<br><br/>

        <p class="contact__headline"><strong>India </strong></p>
          Mumbai： +91 22 3937 9999<br>
          Gurgaon： +91 124 668 9999<br>
          Email： <a href="mailto:info@aranca.com?subject=RE: Custom Market and Competitive Intelligence" style="color:#ffffff"> info@aranca.com </a>
        </div>



        <div class="col-sm-3 col-sm-offset-2">
          <img src="/assets/images/map.png" class="img-responsive" alt="aranca global presence">
          <br/>
          <p><a href="http://www.aranca.com" target="_blank" class="contact__link">Visit our Global Website</a></p>
        </div>

      </div>   <!-- end col-sm-10 -->
    </div>  <!-- end row -->
  </div>

</div>  <!-- end container-fluid -->






