<div class="container-fluid contact inverted-white" name="contact" id="contact">

  <div class="container">
    <div class="row">

      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-3">
          <p class="contact__headline"><strong>India & Rest of World</strong></p>
          Mumbai: +91 22 3937 9999<br>
          Gurgaon: +91 124 668 9999<br>

          Email: info@aranca.com
        </div>


        <div class="col-sm-3">
          <p class="contact__headline"><strong>Americas</strong></p>
          New York: +1 212 878 8826<br>
          Silicon Valley: +1 650 666 3011<br>

          <p class="contact__headline"><strong>Europe and Africa</strong></p>
          London: +44 207 487 8214<br>
        </div>

        <div class="col-sm-3">
          <p class="contact__headline"><strong>China</strong></p>
          Aranca Business Consulting (Shanghai) Co. Ltd. <br>
          # 3072, 3/F, Silver Court,<br>
          No. 85, Tao Yuan Road, Huangpu District<br>
          Shanghai 200021.<br> <br>
          Tel: +86 (0) 21 6157 7555<br>
        </div>

        <div class="col-sm-3">
          <img src="/assets/images/map.png" class="img-responsive" alt="aranca global presence">
          <br>
          <br>
          <p><a href="http://www.aranca.com" target="_blank" class="contact__link">Visit Our Main Website</a></p>
        </div>

      </div>   <!-- end col-sm-10 -->
    </div>  <!-- end row -->
  </div>

</div>  <!-- end container-fluid -->






