<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome to Aranca</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <script src="assets/js/head/modernizr.js"></script>

        <!-- Analytics script: -->
          <script type='text/javascript' >
          (function () {
          var p5 = document.createElement('script'); p5.type = 'text/javascript';
          p5.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cloud.plumb5.com/Script1/aranca_com_64.js';
          var p5s = document.getElementsByTagName('script')[0]; p5s.parentNode.insertBefore(p5, p5s);
          })();
          </script>

        <!-- Automation script:  -->
          <script type='text/javascript' >
          (function () {
          var p5cap = document.createElement('script'); p5cap.type = 'text/javascript';
          p5cap.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cloud.plumb5.com/Script/Domain14042015124110-64.js';
          var p5scap = document.getElementsByTagName('script')[0]; p5scap.parentNode.insertBefore(p5cap, p5scap);
          })();
          </script>
    </head>
