<div class="container-fluid">
  <div class="row">
    <section class="full-banner-a" name="services" id="services">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" style="margin-top:50px;">
            <h2 class="lede__headline--caps text-center inverted-white" style="margin-bottom:0px;font-weight: 800;">
              Our Services
            </h2>
            <hr style="border-width:3px; width: 15%;">
            <div class="lede__body text-center inverted-white">
              <p style="font-size:1.2em;">Investment Research. Intellectual Property Research. Business Research. <br>Valuation Advisory. Procurement Research. Fixed Income Research.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

