<div class="container">
  <h2 class="lede__headline--caps text-center" style="color: #0072bc">Current Job Openings</h2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row well">
        <div class="col-md-6">
          <div class="job-item">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title job-title">Research Head</h3>
              </div>
              <div class="panel-body">
                <h2>Key Responsibilities</h2>
                <ul class="job-list-items">
                  <li>Updating and building financial models for historical annual and interim financial and operating data</li>
                  <li>Updating annual and interim financial figures as well as operating metrics and other company data in the models</li>
                  <li>Creating financial models on companies in the Asia Pacific region. This task involves putting in the annual and interim historical figures, identifying revenue and cost drivers and other operating metrics.</li>
                  <li>Creating the revenue and cost structures and forecasting the financial statements for the next three years. Forecasts are backed by logic and reasoning, incorporating any specific management commentary and guidance</li>
                  <li>Task also involves creating a consensus sheet, comparing our estimates with those of the Street. Also, any other relevant analysis related to the company in particular or the industry in general</li>
                  <li>Updating Bloomberg related price data in the model</li>
                  <li>Updating and titling charts based on operational data</li>
                  <li>Writing conference call summaries (~2 pages) from companies conference call transcripts</li>
                  <li>Writing key points from the companies presentations</li>
                  <li>Preparing daily stock tracker which includes updates regarding analyst upgrades / downgrades, initiations and terminations, stock buyback, insider trading, 4 - week EPS revisions for the portfolio of companies on a daily basis</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end col-md-8 col-md-offset-2" -->
        <div class="col-md-6">
          <div class="job-item well" style="background: white;">
            <div class="panel panel-default">
              <div class="panel-body">
                <h2 class="job__subhead">Key Requirements</h2>
                <ul class="job-list-items">
                  <li>CFA’s or MBA Finance with 3-5 years of experience in Equity research </li>
                  <li>Excellent financial modeling skills with ability to understand and formulate business drivers revenue, cost, etc)</li>
                  <li>Creating financial models on companies in the Asia Pacific region. This task involves putting in the annual and interim historical figures, identifying revenue and cost drivers and other operating metrics.</li>
                  <li>Superior knowledge of concepts of finance & accounting, valuation methodologies and stock analysis</li>
                  <li>Strong content writing skills with the ability to lay out investment arguments and theses lucidly</li>
                  <li>High level communication skills with the ability to express views clearly and succinctly</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="job-item well" style="background: white;">
            <div class="panel panel-default">
              <div class="panel-body">
                <h2 class="job__subhead">Job Details</h2>
                <ul class="job-list-items">
                  <li><strong>Positions Available</strong>: 2</li>
                  <li><strong>Location</strong>: Shanghai</li>
                  <li><strong>Reporting To</strong>: China Head</li>
                </ul>
                <p><a href="#" class="btn btn-primary btn-block" style="text-transform: uppercase;">Apply Now</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- end col-md-8 col-md-offset-2" -->
      </div>
      <!-- end row -->
    </div>
  </div>
</div>
