
<div class="container" id="about-us" name="about-us">
  <div class="row">
    <div class="col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
      <h1 class="landing__headline">About Us</h1>
      <div class="landing__content">
        <p>Steering the choppy seas of academia or business writing can be challenging, especially if you are a non-native speaker of English. Several problems can crop up for the ESL writer, as the mechanics of English are very different from those of native languages. Moreover, clarity and precision is paramount in written communication. It is vital that hurdles in communication are overcome so that the focus remains on your content. That’s where Aranca’s edit services come in. </p>
        <h2 class="landing__headline">What we do</h2>
        <p>At Aranca Editorial, great efforts go into ensuring business reports and documents reflect the highest standards of written English. Lofty benchmarks have been set by a highly qualified and seasoned team, with experience in domains as diverse as print media, e-learning, corporate communications, marketing, linguistics, economics, finance, academic editing, and intellectual property rights. This ensures that no matter the content, the edits are nothing short of sterling. That said, business reports and marketing collateral are something of a specialty. </p>
      </div>
      <!-- End of landing__content -->
    </div>
    <!-- End of col-md-6 -->
       <div class="col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
<form class="landing__form" method="post" accept-charset="utf-8">
        <div class="form-group field" id="yourName-field">
          <div class="heading">
            <label for="yourName">Name</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="name" name="name" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="company-field">
          <div class="heading">
            <label for="company">Company</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="company" name="company" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="email-field">
          <div class="heading">
            <label for="email">Email</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="email" name="email" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
         <div class="form-group field" id="phone-field">
          <div class="heading">
            <label for="phone">Phone</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="phone" name="phone" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="projectDescription-field">
          <div class="heading">
            <label for="projectDescription">How can we help? </label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <textarea class="form-control text nicetext fullwidth" rows="7" cols="50" id="projectDescription" name="projectDescription" data-show-chars-left="" placeholder="(Request more information, work samples or a quote)"></textarea>
          </div>
        </div>
        <div>
          <input type="submit" class="btn btn-block btn-primary" value="Get Back to me With Answers">
        </div>
      </form>
<!-- <div class="plumblanding__form" id="dvPlumb5InPageScript28" plumb5="Plumb5InPageForms" plumb5formidentifier="28" ></div> -->
    </div>
    <!-- End of col-md-6 -->




  </div>
  <!-- End of row -->
</div>
<!-- End of container -->
