
<div class="container" id="about-us" name="about-us">
  <div class="row">
    <div class="col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
      <h1 class="landing__headline">Access to Custom Market and Competitive Intelligence</h1>
      <div class="landing__content">
        <p style="font-size:20px;">Aranca provides business leaders across functions with ‘hard to find but difficult to ignore’ research and analysis backed intelligence about their customers, competitors, markets and vendors that helps them make the right decision at the right time. </p>
        <!-- <h2 class="landing__headline">What we do</h2> -->
        <p>Analysing markets, customers, competition and emerging trends is our forte. Our research, insights and advise help business managers build consensus to take strategic or tactical decisions. Our analyst teams have experience in working with companies from across industries and passionately approach every business problem through a simple question: ‘What information is required if we were to take the same decision that our clients’ need to?’ That’s it – the result is always insightful answers! </p>
      </div>
      <!-- End of landing__content -->
    </div>
    <!-- End of col-md-6 -->
       <div class="col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
<form class="landing__form" method="post" accept-charset="utf-8">
        <div class="form-group field" id="yourName-field">
          <div class="heading">
            <label for="yourName">Name</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="name" name="name" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="company-field">
          <div class="heading">
            <label for="company">Company</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="company" name="company" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="email-field">
          <div class="heading">
            <label for="email">Email</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="email" name="email" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
         <div class="form-group field" id="phone-field">
          <div class="heading">
            <label for="phone">Phone</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control" type="text" id="phone" name="phone" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="projectDescription-field">
          <div class="heading">
            <label for="projectDescription">How can we help? </label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <textarea class="form-control text nicetext fullwidth" rows="7" cols="50" id="projectDescription" name="projectDescription" data-show-chars-left="" placeholder="(Request more information, work samples or a quote)"></textarea>
          </div>
        </div>
        <div>
          <input type="submit" class="btn btn-block btn-primary" value="Get Back to me With Answers">
        </div>
      </form>
<!-- <div class="plumblanding__form" id="dvPlumb5InPageScript28" plumb5="Plumb5InPageForms" plumb5formidentifier="28" ></div> -->
    </div>
    <!-- End of col-md-6 -->




  </div>
  <!-- End of row -->
</div>
<!-- End of container -->
