
<div class="container" id="about-us" name="about-us">
  <div class="row">
    <div class="col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
      <h1 class="landing__headline">
        我们的业务
      </h1>
      <div class="landing__content">
        <p>我们的“存在理由”是为我们的客户提供以研究和分析为后盾的结论组合，可帮助他们做出正确的决策并取得成功。</p>
        <p>十多年来，我们在全球范围内为“财富 500 强”公司、金融公司、注重成长的组织和高潜力的初创企业提供无偏见的、量身订制的、以研究为后盾的深刻见解。</p>
        <h2 class="landing__headline">我们提供决策见解</h2>
        <p>众所周知，Aranca 的决策见解来自各个专家，他们奉行启发式的数据收集，并使用最好的方法和技术对数据进行严格的分析。</p>
        <p>通过积极扩大我们的研究网络和取得横跨各地域和各行业的领域专长，我们已经建立了强大的信任度和客户成功跟踪记录。</p>
        <p>Aranca 的 6 个国际办事处拥有 500 多名员工，他们旨在帮助企业决策者理解并成功地立身于复杂且竞争激烈的商业环境。</p>
      </div>
      <!-- End of landing__content -->
    </div>
    <!-- End of col-md-6 -->
    <div class="col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
      <form class="landing__form" method="post" accept-charset="utf-8">
        <div class="form-group field" id="yourName-field">
          <div class="heading">
            <label for="yourName">您的名字</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control icon" type="text" id="yourName" name="yourName" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="company-field">
          <div class="heading">
            <label for="company">公司</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control icon" type="text" id="company" name="company" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="email-field">
          <div class="heading">
            <label for="email">电子邮件</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <input class="form-control icon" type="text" id="email" name="email" value="" data-show-chars-left="" autocomplete="off" placeholder="">
          </div>
        </div>
        <div class="form-group field" id="projectDescription-field">
          <div class="heading">
            <label for="projectDescription">Project Description</label>
            <!-- <span class="locale">en_us</span> -->
          </div>
          <div class="input">
            <textarea class="form-control text nicetext fullwidth" rows="7" cols="50" id="projectDescription" name="projectDescription" data-show-chars-left="" placeholder="我们如何帮助您？（索取更多信息、工作样本或一次无责任咨询"></textarea>
          </div>
        </div>
        <div>
          <input type="submit" class="btn btn-block btn-primary" value="请向我回馈答案（发送">
        </div>
      </form>
    </div>
    <!-- End of col-md-6 -->
  </div>
  <!-- End of row -->
</div>
<!-- End of container -->
