<section>
  <div class="container-fluid" style="margin-top:50px; margin-bottom:50px;">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <h1 class="landing__headline">Experience</h1>
        <div class="landing__content">
        <p style="font-size:20px;">Delivered research projects across sectors in emerging and developed markets</p></div>
          <div class="col-sm-6 col-md-6">
            <div class="list-group">
              <a tabindex="0" class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li>Market opportunity assessment for aircraft MRO in MENA region</li>
          <li>Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li>Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li>Research study on ‘Services business’ of leading aerospace companies</li>
          <li>A&D offset policies and market opportunities in 16 countries </li></ul>">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <div class="list-group">
              <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item">Morbi leo risus</a>
              <a href="#" class="list-group-item">Porta ac consectetur ac</a>
              <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
          </div>

      </div><!-- col 12 -->
    </div><!-- row -->
    </div>
  </div><!-- container -->
</section>
