<section>
  <div class="container" style="margin-top:50px;">
    <div class="row text-center" style="margin:10px 0 30px;">
      <div class="col-lg-4">
      <hr class="title">
      </div>
      <div class="col-lg-4">
      <div style="color: #EC752C; font-size:30px; ">Why Aranca</div>
      </div>
      <div class="col-lg-4">
      <hr class="title">
      </div>
    </div>

  <div class="row text-center">
  <div class="col-lg-3 col-sm-3">
  <!-- <div class="icons"><span class="img-sprite icon audit"></span></div> -->
  <div class="icons"><i class="fa fa-life-ring" style="font-size:5em; color:#3695D6;"></i></div>
  <div class="w-title">Wide Exposure</div>
  <div class="w-content">Senior team comprises people with more than 10 years of relevant experience in domains as diverse as print media, e-learning, linguistics, economics, finance and intellectual property rights
</div>
    </div>
  <div class="col-lg-3 col-sm-3">
  <!-- <div class="icons"><span class="img-sprite icon ip"></span></div> -->
  <div class="icons"><i class="fa fa-file-text" style="font-size:5em; color:#3695D6;"></i></div>

  <div class="w-title">Experience</div>
  <div class="w-content"><span style="color:#EC752C">8000+</span> reports across domains
delivered to over <span style="color:#EC752C">1500+</span> clients
all over the world
</div>
    </div>
  <div class="col-lg-3 col-sm-3">
  <!-- <div class="icons"><span class="img-sprite icon solution"></span></div> -->
  <div class="icons"><i class="fa fa-check-circle" style="font-size:5em; color:#3695D6;"></i></div>
  <div class="w-title">High Benchmarks</div>
  <div class="w-content">Aranca’s Internal Style Guide closely mirrors the Chicago Manual of Styles, which sets the benchmark for all publications in American English. For our clients in Europe, South Africa and Asia, however, we reference the Oxford Style Guide.
</div>
    </div>
  <div class="col-lg-3 col-sm-3">
  <!-- <div class="icon-1"><span class="img-sprite icon team"></span></div> -->
  <div class="icons"><i class="fa fa-users" style="font-size:5em; color:#3695D6;"></i></div>
  <div class="w-title">Expertise</div>
  <div class="w-content"><span style="color:#EC752C">20+</span> Strong team, comprising an optimal| mix of seasoned professionals and
highly skilled and trained editors with 2–6 years of relevant experience
</div>
    </div>
  </div>
  </div>
</section>

