<section class="svc">
  <div class="container">
    <!-- ROW 1 content -->
    <div class="row">
      <div class="svc__content col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
        <h2 class="svc__content__headline">Investment Research</h2>
        <p>Aranca specializes in scoping and delivering timely, complex and customized investment research and analytics support to buy-side and sell-side firms.</p>
        <p>We help investment managers increase research coverage and depth without adding fixed costs, while enabling to them expand their portfolio focus, explore new ideas and engage clients better.</p>
        <div class="triangle-right"></div>
      </div>
      <!-- stat content starts here -->
      <div class="svc__stat__content col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
        <h4 class="svc__stat__spotlight text-center">1,000,000+</h4>
        <p class="svc__stat__spotlight__content text-center">hours of research experience</p>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">80+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">Industry segments covered globally</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">4000+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">Equity research notes on over 4000 companies across developed and emerging markets</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">12,500+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">financial models developed and analyzed</span>
            </div>
          </div>
          <!-- end row -->
        </article>
      </div>
      <!-- stat content ends here -->
    </div>
    <!-- end Row -->
    <div class="sep50"></div>
    <!-- ROW 2 content -->
    <div class="row">
      <!-- stat content starts here -->
      <div class="svc__stat__content--full col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
        <h4 class="svc__stat__spotlight text-center">850+</h4>
        <p class="svc__stat__spotlight__content text-center">Unique products and services covered <br>across 60+ countries</p>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">30+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">&nbsp;&nbsp;Research in 30+ languages</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">30,000+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">30,000+ Projects delivered</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">500+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">500+ Global clients across Americas, Europe, GCC, Africa and Asia
              </span>
            </div>
          </div>
          <!-- end row -->
        </article>
      </div>
      <!-- stat content ends here -->
      <div class="svc__content col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
        <h2 class="svc__content__headline ">Business Research</h2>
        <p>Aranca provides business leaders across functions with ‘hard to find but difficult to ignore’ research and analysis backed intelligence about their customers, competitors, markets, and vendors, that helps them make the right decision at the right time and prevail.</p>
        <div class="triangle-left"></div>
      </div>
    </div>
    <!-- end Row -->
    <div class="sep50"></div>
    <!-- ROW 3 content -->
    <div class="row">
      <div class="svc__content col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
        <h2 class="svc__content__headline">Intellectual Property Research</h2>
        <p>Aranca provides research and analysis backed advisory solutions that help IP owners, managers and practitioners to invest, leverage and protect their ideas and IP across technology domains and through the patent lifecycle.</p>
        <div class="triangle-right"></div>
      </div>
      <!-- stat content starts here -->
      <div class="svc__stat__content col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
        <h4 class="svc__stat__spotlight text-center">7500+</h4>
        <p class="svc__stat__spotlight__content text-center">Patent research projects delivered</p>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">450+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">Clients served</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">70+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">Research in 70+ markets and in 10+ languages</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">12,500+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">financial models developed and analyzed</span>
            </div>
          </div>
          <!-- end row -->
        </article>
      </div>
      <!-- stat content ends here -->
    </div>
    <!-- end Row -->
    <div class="sep50"></div>
    <!-- ROW 4 content -->
    <div class="row">
      <!-- stat content starts here -->
      <div class="svc__stat__content--full col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
        <h4 class="svc__stat__spotlight text-center">Top 3 in USA</h4>
        <p class="svc__stat__spotlight__content text-center">Amongst the top 3 <br>409A valuation firms in the US</p>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">2500+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">&nbsp;&nbsp;&nbsp;Valuations advised</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">800+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">Clients served across 20+ Industry sectors</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">25+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">Senior valuation professional with ASA, CFA, CPA, CA credentials</span>
            </div>
          </div>
          <!-- end row -->
        </article>
      </div>
      <!-- stat content ends here -->
      <div class="svc__content col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
        <h2 class="svc__content__headline ">Valuation &amp; Advisory Services</h2>
        <p>Aranca’s team of certified and experienced valuation professionals help business owners and managers with un-biased and defensible valuation opinions and reports that stand the rigor of compliance audits and are right priced.</p>
        <div class="triangle-left"></div>
      </div>
    </div>
    <!-- end Row -->
  </div>
  <!-- end container -->
</section>
