<div class="container"  style="margin-top:50px;">
    <div class="row text-center" style="margin:10px 0 30px;">
      <div class="col-lg-4">
      <hr class="title">
      </div>
      <div class="col-lg-4">
      <div style="color: #EC752C; font-size:30px; ">Why Aranca</div>
      </div>
      <div class="col-lg-4">
      <hr class="title">
      </div>
    </div><!-- row text center -->

    <div class="row">
    <div class="col-md-12">

      <div class="tabbable-panel">
        <div class="tabbable-line">

          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab_default_1" data-toggle="tab">
              Track Record</a>
            </li>
            <li>
              <a href="#tab_default_2" data-toggle="tab">
              Process Rigor</a>
            </li>
            <li>
              <a href="#tab_default_3" data-toggle="tab">
              Team Structure </a>
            </li>
          </ul>


          <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
              <div class="row text-center">
                <div class="col-lg-3 col-sm-3">
                  <div class="w-title">2500+  </div>
                  <div class="w-content">Products or services, researched by us - across 80+ industry sub-segments</div>
                </div><!-- col 3 -->

                <div class="col-lg-3 col-sm-3">
                  <div class="w-title">650+ </div>
                  <div class="w-content">Global clients, who have used our market intelligence services for strategic decisions </div>
                </div><!-- col 3 -->

                <div class="col-lg-3 col-sm-3">
                  <div class="w-title">95+ </div>
                  <div class="w-content">Countries, in which we have analyzed market dynamics for global clients</div>
                </div><!-- col 3 -->

                <div class="col-lg-3 col-sm-3">
                  <div class="w-title">30+ </div>
                  <div class="last">Languages, in which we conduct primary research in any given 12-nonth period</div>
                </div><!-- col 3 -->
              </div><!-- row -->
            </div><!-- tab default 1 -->

            <div class="tab-pane col-md-offset-3" id="tab_default_2" >
              <ul style="line-height:35px;">
              <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Implementation of best practices followed by global consulting firms</li>
              <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Strict adherence to Aranca’s five-stage ‘Project Lifecycle’ framework</li>
              <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Multi-stage quality assurance process</li>
              <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Defined tollgates for interim client reviews</li>
              <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Extensive use of technology for knowledge management and operational efficiencies</li>
              </ul>
            </div><!-- tab default 2 -->

            <div class="tab-pane" id="tab_default_3">
              <div class="row">
              <div class="col-lg-4 col-sm-4 col-sm-offset-1">
                <p>Qualified, experienced, motivated team - for whom research is a passion</p>
                <p>Research projects are executed by analysts, aligned to <span style="color:#EC752C;">14 industry</span> teams</p>
              </div>

              <div class="col-lg-1 col-sm-1">
                <div class="icon"><i class="fa fa-caret-right"></i></div>
              </div>

              <div class="col-lg-3 col-sm-3">
                <ul>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Automobiles</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> BFSI</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Chemicals</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Construction</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Consumer </li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Energy</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Food & Beverages</li>
                </ul>
              </div>

              <div class="col-lg-2 col-sm-2">
                <ul>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Healthcare</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Industrials</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Metals & Mining</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Packaging</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Technology</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Telecom</li>
                  <li><i class="fa fa-dot-circle-o" style="padding-right:10px;"></i> Transportation</li>
                </ul>
              </div>
              </div><!-- row -->
            </div><!-- tab default 3 -->

          </div><!-- E: tab content -->
        </div><!-- E: tabble line -->
      </div><!-- E: tabble panel -->

      </div><!-- E: col 12 -->
      </div><!-- E: row -->
      </div><!-- E: Container -->
