<section class="content-row" style="padding-top: 70px;" name="team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="lede__headline text-center">
          Our Leadership Team and Experience
        </h1>
        <hr class="divider-center">
        <div class="lede__body text-center">
          <p>We have over 13 year’s experience in delivering un-biased, tailor-made, research-backed insights to Fortune 500 companies, financial firms, growth focused organizations and high potential start-ups across the globe.</p>
        </div>
      </div>
    </div>
    <div class=" content-row-grid row">
      <div class="col-md-10 col-md-offset-1">
        <div class="content-row-item clearfix">
          <img src="/assets/images/profiles/hemendra-aran.jpg" class=" pull-right ">
          <h2 class="content-row__headline">Hemendra Aran <span>CEO & Founder</span></h2>
          <p class="content-row__body">
            Hemendra founded Aranca in 2003 with an ambition to provide high quality research and analytics to global clients. Having started his career with Infosys where he worked with global corporations such as Goldman Sachs, Reebok and Thomson Electronics, he garnered extensive experience in outsourcing. He has authored several books on the topics of outsourcing and global financial markets. He is a regular commentator and has appeared in prestigious media channels including The BBC, CNBC and The Economic Times. In addition, Hemendra has also delivered talks at top-tier institutes such as London School of Economics, the IIMs and the IITs. He is passionate about entrepreneurship and aspires to build Aranca into a market leader in research. Hemendra is an alumnus of London Business School (MBA), Haas School of Business, University of California, Berkeley and Indian Institute of Technology (Madras).
          </p>
          <hr class="divider-center-blue-long">
          <img src="/assets/images/profiles/madhusudan.jpg" class=" pull-left ">
          <h2 class="content-row__headline">Madhusudan Rajagopalan <span>Chief Operating Officer</span></h2>
          <p class="content-row__body">
            Madhusudan has been part of Aranca since inception and has overseen the scale up of Aranca's operations in India. He manages the delivery of a range of research solutions to global clients. Madhusudan started his career as a management consultant with Accenture where he served large clients across sectors in a range of strategy and business performance improvement assignments. Madhusudan is an alumnus of the Indian Institute of Management, Bangalore and IIT Madras (B.Tech)
          </p>
          <hr class="divider-center-blue-long">
          <img src="/assets/images/profiles/kannan-siva.jpg" class=" pull-right ">
          <h2 class="content-row__headline">Kannan Sivasubramanian <span>Executive Vice President</span></h2>
          <p class="content-row__body">
            Kannan has over 18 years of experience in strategy / performance improvement consulting and managing service delivery in the outsourcing industry. He started his career with Avalon Consulting (Mumbai) where he worked for 11 years and managed over 200 consulting assignments across a diverse range of industries and clients. As the President of Nirvana Business Solutions, a Bangalore based BPO, Kannan was part of the senior management team that grew the company from a fledgling startup to a 400+ man organization in a period of three years. He joined Aranca after a stint in Cable&Wireless, where he was responsible for establishing the company's Dedicated Service business and other strategic initiatives. At Aranca, Kannan's responsibilities include research delivery, operational effectiveness enhancement, business development and developing strategies for the company's growth.
          </p>
          <hr class="divider-center-blue-long">
          <img src="/assets/images/profiles/ashish-sethi.jpg" class=" pull-left ">
          <h2 class="content-row__headline">Ashish Sethi <span>Global Head of Sales</span></h2>
          <p class="content-row__body">
            Ashish has over 14 years of experience in sales, spanning consumer products, financial products and financial services. He has built teams and grown businesses in three different organizations and has substantial experience in working with both Indian and global clients, including at firms such as ICICI Lombard and UTI MF. Most recently, he was Director-Business Development with Crisil Research.
            Ashish has an MBA in Marketing & IT from LBSIM and a certification in Negotiation Strategies from ISB.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
