<section class="content-row" style="padding-top: 70px;" name="team" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="lede__headline text-center">
          我们的领导团队和领导经验
        </h1>
        <!-- <hr class="divider-center"> -->
        <div class="lede__body text-center">
          <p>十多年来，Aranca 已经为全球“财务 500 强”公司、金融公司、注重成长的组织和高潜力初创企业提供了无偏见、量身定制、以研究为后盾的研究见解。</p>
          <p>本公司已成为 1500 多家全球组织的值得依赖的合作伙伴，包括“财富 500 强”公司、中小型企业、投资银行、经纪公司、资产管理公司、咨询公司、私募股权基金公司和风险投资公司、律师事务所、政府机构、行业协会大学。</p>
        </div>
      </div>
    </div>
    <div class=" content-row-grid row">
      <div class="col-md-10 col-md-offset-1">
        <div class="content-row-item clearfix">
          <img src="http://cdni.aranca.com/aranca/management/hemendra-aran.jpg?javer=1506231100" class=" pull-right ">
          <h2 class="content-row__headline">Hemendra Aran <span>CEO 和创始人</span></h2>
          <p class="content-row__body">
            Hemendra 于 2003 年建立了 Aranca，其愿景是为全球客户提供世界一流的研究和高质量的分析服务。他带领 Aranca 从 2003 年只有一个人的公司发展到 2015 年，成为定制化研究和分析领域的全球 500 强市场参与者。Hemendra 毕业于伦敦商学院 (MBA)、哈斯商学院、加州大学伯克利分校和印度理工学院（马德拉斯），曾在一些全球性公司（如高盛、锐步、汤姆逊电子公司和印孚瑟斯）工作过，因此拥有丰富、广泛和可关联的最佳实践经验。他撰写了几本关于外包和全球金融市场的书，如《外包成功：管理要务》和《全球金融市场革命：交易所和资本市场的未来》。Hemendra 定期为有名望的商业媒体渠道提供评论，并且经常在顶级机构、论坛和会议上发展演讲。他还颇为热衷于有意义的和深情的电影，并且制作和发布了一部成功的全长故事片。
          </p>
          <hr class="divider-center-blue-long">
          <img src="http://cdni.aranca.com/aranca/management/madhusudan.jpg?javer=1506231100" class=" pull-left ">
          <h2 class="content-row__headline">Madhusudan Rajagopalan <span>首席运营官</span></h2>
          <p class="content-row__body">
            自 Aranca 成立以来，Madhusudan 一直在该公司工作，他帮助公司不断成长和扩大，成为定制研究和分析领域的全球主要参与者之一。作为 COO，Madhusudan 开发和部署横跨 Aranca 各个业务职能的以客户为中心的战略。他专注于持续推动 Aranca 全公司的卓越运营、向全球客户交付全方位高质量的研究解决方案以及提高其顶层和底线财务业绩。Madhusudan 还领导了 Aranca 在服务能力方面的全球扩展和增长。Madhusudan 毕业于印度管理学院（班加罗尔）和印度理工学院（马德拉斯），他的职业生涯开始于埃森哲公司，担任管理顾问，并且已经为各行业的大客户在一系列战略和经营业绩改善项目方面提供了服务。他的评论和发言被有名望的商业媒体渠道定期发表，他还为全球出版物撰写了各种有关市场和金融方面的见解文章。
          </p>
          <hr class="divider-center-blue-long">
          <img src="http://cdni.aranca.com/aranca/management/kannan-siva.jpg?javer=1506231100" class=" pull-right ">
          <h2 class="content-row__headline">Kannan Sivasubramanian <span>执行副总裁</span></h2>
          <p class="content-row__body">
            Kannan 在 Aranca 负责研究交付、经营效益、业务发展和增长计划。Kanna 在战略和绩效改进咨询方面和管理外包领域的服务交付方面拥有 20 年左右的丰富经验。他的职业生涯开始于阿瓦隆咨询公司，他在该公司工作了 11 年，负责管理横跨各行业、各领域和各个客户的 200 多项咨询项目。在 Nirvana Business Solutions（一个位于班加罗尔的 BPO），Kannan 担任其总裁，并在仅三年的短时期内，带领该公司从一个初出茅庐的创业公司发展成为一个拥有 400 人的组织。加入 Aranca 前，他在大东电报公司建立了“专用服务”业务线和其他战略计划。
          </p>
          <hr class="divider-center-blue-long">
          <img src="http://cdni.aranca.com/aranca/management/ashish-sethi.jpg?javer=1506231100" class=" pull-left ">
          <h2 class="content-row__headline">Ashish Sethi <span>全球销售主管</span></h2>
          <p class="content-row__body">
            Ashish 专注于规划和建设可推动业务增长目标的销售组织。他在为国内和国际金融产品及服务、研究和消费产品进行团队建设和业务开发方面拥有公认的专业知识。在加入 Aranca 并担任其全球销售主管之前，Ashish 在 CRISIL Research 公司担任业务开发总监。此前，他曾就职于 ICICI Lombard 和 UTI 共同基金。他拥有 LBSIM 的市场营销和 IT 的 MBA 学位和 ISB 的谈判策略认证。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
