@media (max-width: 992px) {
  .small-screen-center {
    text-align: center !important;
  }

  .small-screen-left {
    text-align: left !important;
  }

  .small-screen-right {
    text-align: right !important;
  }
}
@media (max-width: 768px) {
  .top-bar .top-right, .top-bar .top-left {
    width: 100%;
    float: none;
    text-align: center;
  }
}

/* Navbar */

@media (max-width: 991px) {
  .menu .navbar-nav > li > a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
  .menu .navbar-nav > li > a:before {
    display: none;
  }

  .menu {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    border-radius: 0;
  }

  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    padding: 9px 15px !important;
  }

  .menu .dropdown-menu {
    margin: 0;
    width: 100%;
  }
  .menu .dropdown-menu > li > a {
    padding-left: 15px !important;
  }

  .dropdown-submenu > a:after {
    content: "\f107";
  }

  .navbar-sticky .navbar-collapse {
    max-height: 340px;
  }
}
@media (max-width: 767px) {
  .section .section .container {
    padding: 0;
    width: auto;
  }

  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
  }
}


@media (min-width: 993px) {
  .col-border-right {
    border-right: 1px solid;
  }

  .col-border-bottom {
    border-bottom: 1px solid;
  }

  .vertical-top, .vertical-middle, .vertical-bottom {
    display: table;
    width: calc(100% + 30px);
    width: 100% \0/IE9;
    /* ie9 fix */
    table-layout: fixed;
  }
  .vertical-top > *, .vertical-middle > *, .vertical-bottom > * {
    display: table-cell;
    float: none;
  }

  .vertical-top > * {
    vertical-align: top;
  }

  .vertical-middle > * {
    vertical-align: middle;
  }

  .vertical-bottom > * {
    vertical-align: bottom;
  }
}
@media (max-width: 767px) {
  .section .section .container {
    padding: 0;
    width: auto;
  }

  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
  }
}

/* - CSS3 Columns - */
@media (min-width: 992px) {
  .col-text-2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }

  .col-text-3 {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }

  .col-text-4 {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }

  .col-text-5 {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }

  .col-text-6 {
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    column-gap: 30px;
  }
}