/*Card*/
.card__row
{
  @extend .row;
  margin-top: 40px;
  margin-bottom: 40px;
}
.card__box
{
  border:1px solid #3f98d5;
  height:350px;
  background-color:#3f98d5;
  padding:30px;
  position:relative;
  margin-bottom: 40px;
}

.card__headline{
  font-weight: normal;
}

.card__text{
  color: #10354D;
}

.card__text li {
  line-height: 2em;
}

.card__icon{
    position:absolute;
    right:0px;
    bottom:0px;
    font-size:200px;
    color:lightgrey;
}
