.full-banner-b {
  background: url('/assets/images/team-header-bkg.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 253px;
  margin-bottom: 27px;
}
