.full-banner-a {
//  background: url('/assets/images/global-services-bkg.jpg') no-repeat;
  background-color: #3695D6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 310px;
  margin-top: 75px;
  margin-bottom: 20px;
}
