.masthead {
  background: url('/assets/images/cn-banner.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;

  @media screen and (max-width: $screen-sm-min){
    background: url('/assets/images/cn-banner-mob.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 330px;
  }
}
