/* Page Body */
.landing__headline {
  margin-top: 50px;
  line-height: 1.4;
  color:$blue-base;
}

.landing__content {
  margin-top: 20px;
  margin-bottom:20px;
}

.landing__lead {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.75em;
}

.landing__form {
  padding: 2.5em;
  position: relative;
  top: 50px;
  border: 1px solid $gray;
  background-color: whitesmoke;
}

.plumblanding__form {
  margin-top: 123px;
}
