.picture-quote__container{
  position:relative;
}
.picture-quote__text--blue{
font-size: 50px;
  position: absolute;
  top: 24%;
  left: 14%;
  color: $brand-primary;
  font-style: italic;
  font-weight: normal;
  opacity: 0.5;
}