$top-bar-height: 2.4em;

.top-bar {
  height: $top-bar-height;
  background: #f3f3f3;
}

.icon-link-list > ul >li {
  line-height: $top-bar-height;
  padding-right: 15px;
}

.list-inline {
  float: right;
  @media screen and (max-width: $screen-sm-min){
    float: none;
    display: block;
    text-align: center;
  }
}
