<div class="container-fluid" name="careers" id="careers">
  <div class="row">
    <section class="full-banner-b">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" style="margin-top:20px;">
            <h2 class="lede__headline--caps text-center inverted-white" style="margin-bottom:0px; text-shadow: 1px 1px 3px #f2f2f2;">
              Join our Team
            </h2>
            <hr style="border-width:3px; width: 15%;">
            <div class="lede__body text-center inverted-white">
              <p style="font-size:0.9em;">We are developing capabilities in the China/Asia Pacific region. For this we are seeking out the best talent in the industry with a view to offering high quality research solutions to our clients in our investment, business and intellectual property research as well as valuation & advisory practices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
