<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/" class="brand-logo"><img src="assets/images/aranca-logo.png" alt=""></a>
      </div>
      <div class="col-sm-8">
        <nav class="simp-nav">
          <ul>
            <li class="simp-nav__item"><a href="#contact" data-target="contact" data-offset="0">Contact</a></li>

            <li class="simp-nav__item"><a href="#people" data-target="people"data-offset="50">People</a></li>

            <li class="simp-nav__item"><a href="#services" data-target="services" data-offset="100">Services</a></li>

            <li class="simp-nav__item"><a href="#about-us" data-target="about-us" data-offset="100">About Us</a></li>
          </ul>
        </nav>
      </div><!-- end colsm -->
    </div><!-- end row -->
  </div><!-- end container -->
</header>
