<div class="top-bar">
  <div class="container">
    <div class="row">
      <nav class="icon-link-list col-xs-3">
        <ul class="list-inline pull-left hidden-xs">
          <li class="icon-link-list-item">
            <a href="https://twitter.com/aranca" data-iconcolor="#00acee" target="_blank">
            <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="icon-link-list-item">
            <a href="https://www.linkedin.com/company/aranca" data-iconcolor="#5FB0D5" target="_blank">
            <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- .icon-link-list -->
      <nav class="icon-link-list col-xs-9">
        <ul class="list-inline pull-right">
          <li class="icon-link-list-item">
            <a href="mailto:help@aranca.com" data-iconcolor="#00acee" target="_blank">
            <i class="fa fa-envelope"></i>
            info@aranca.com
            </a>
          </li>
          <li class="icon-link-list-item">
            <a href="" data-iconcolor="#5FB0D5" target="_blank">
            <i class="fa fa-phone"></i>
            1-800-555-555
            </a>
          </li>
          <li class="hidden-xs">
            <a href="http://www.aranca.com" target="_blank" class="topbar__link"><small>Visit Our Global Website</small></a>
          </li>
        </ul>
      </nav>
      <!-- .icon-link-list -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- .topbar -->
